nav {
    width: 220px;
    height: 100%;
    background-color: #000000;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

nav h1 {
    color: white;
    margin: 10px;
}

nav a,
nav .button {
    border: none;
    padding: 6px 12px;
    color: #f5f5f5;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.button {
    all: unset;
    cursor: pointer;
    width: 89%;
}

a:hover,
.button:hover {
    background: rgba(157, 159, 241, 0.204);
    color: #d4d4dd;
}

.titulo {
    align-items: center;
}

.botones a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    background-color: rgb(36, 36, 36);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.informacion {
    font-size: 30px;
}

.botones :hover {
    color: rgb(70, 69, 69);
    background-color: rgb(70, 69, 69);
}

.Perfil {
    margin-left: 250px;
    margin-top: 150px;
    width: 80%;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px 0px;

}

.foto img {
    box-shadow: 1px 2px 5px rgb(252, 252, 252);
}

.Perfil .foto {
    width: 80%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: right;
}

.logo {
    width: 20%;
    height: 10%;
    border-radius: 20%;
}

.contacto {
    margin-left: 10%;
    text-align: center;
    margin-top: 320px;
    width: 80%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    padding: 40px 0px;

}

.sobremi {
    margin-left: 250px;
    margin-top: 200px;
    width: 80%;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    padding: 40px 0px;
    box-shadow: black;
    gap: 50px;
}

.sobremi a {
    text-decoration: none;
    color: white;
}

.Container {
    text-align: center;
    padding: 5%;
    box-shadow: 0 8px 24px rgba(255, 255, 255, 0.397);
    border-radius: 20px;
    background-color: #000000;
}

.Container li {
    list-style: none;
}

.Container img {
    width: 30%;
    margin-left: 20px;

}

.label {
    display: flex;
    flex-direction: column;
}

.texto {
    margin-left: 35%;

    justify-content: center;
    display: flex;
    flex-direction: column;
}

.mascotas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 250px;
    padding: 20PX;
}

.mascotas div {
    text-align: center;
    height: 400px;
    width: 80%;
    transition: 0.2s;
    background-color: rgb(45, 45, 45);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.397);
    border-radius: 20px;
}

.mascotas img {
    display: flex;
    height: 60%;
    width: 90%;
    flex: 0 0 50%;
    padding: 20px;
    border-radius: 0px;
}

.mascotas div:hover {
    width: 83%;
    height: 420px;
    transition: 0.2s;
}

/* ===== MODO CLARO ===== */
body.light-mode {
    background-color: #ffffff;
    color: #111;
}

body.light-mode nav,
body.light-mode .Container {
    background-color: #f2f2f2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body.light-mode .img {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);



}

body.light-mode a,
body.light-mode h1,
body.light-mode .button {
    color: #111;
}

body.light-mode a:hover {
    color: #555;
}

body,
nav,
a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-btn {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

@media (max-width:600px) {
    nav {
        width: 100%;
        height: 120px;
        background-color: #000000;
        position: fixed;
        display: flex;
        text-align: center;
    }

    .links {
        display: flex;
    }

    .sobremi,
    .Perfil {
        margin-left: 0;
        gap: 40px;
        padding: 10%;
        grid-template-columns: repeat(1, 1fr);
    }

    .sobremi .foto,
    .Perfil .foto {
        height: 100%;
        width: 90%;

    }

    .mascotas {
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding: 10%;
        margin-top: 10%;
    }

    .menu-btn {
        display: block;
    }

    .links {
        position: absolute;
        top: 70px;
        right: 20px;
        flex-direction: column;
        background: #000000;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);

        display: none;
    }

    .links.active {
        display: flex;
    }

    .links a,
    .links button {
        width: 100%;
        text-align: left;
    }
}

@media (min-width:601px) and (max-width:900px) {
    nav {
        width: 20%;
    }

    .sobremi,
    .Perfil {
        margin-left: 20%;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        height: 100%;
        width: 70%;
        gap: 200px;
    }

    .Perfil .información {
        margin-top: -280px;
    }

    .información p {
        width: 90%;
    }

    .mascotas {
        height: 20%;
        width: 70%;
        margin-left: 15%;
        padding: 0;
    }

    .mascotas div {
        width: 100%;
    }

    .mascotas div img {
        padding: 5%;
    }
}

body.light-mode .links {
    background: #f2f2f2;
}